
/* Basic layout */

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}

body {
	background: #444;
	text-align: center;
}

body > div {
	width: 100vw;
	max-width: 50vh;
	margin: 0 auto;
}
button {
	color: #888;
	fill: #888;
	background: none;
	border: .3vh solid #888;
	border-radius: 1vh;
	outline: none;
	cursor: pointer;
}
button svg {
    display: inline-block;
    width: 2em;
    vertical-align: middle;
}



#banner {
	display: none;
	
    background-color: #ffbb00;
    color: #000;
    max-width: inherit;
    padding: 1em;
    font-weight: bold;
    box-sizing: border-box;
}
body.unsupported #banner {
	display: block;
}





/* Logo */

svg#logo {
	fill: #0f0;
	margin: 10vh 0;
	width: 70%;
}

svg#logo rect {
	stroke: #444;
	stroke-width: 0.05;
}

body.connected svg#logo {
	display: none;
}



/* Buttons */

.buttons {
	color: #aaa;
	font-size: 0.8em;
}
body.connected div.buttons {
	display: none;
}
body.unsupported div.buttons {
	opacity: 0.3;
}


button#connect {
	margin: 0 0 2vh;
	padding: 1vh 2vh;
	font-size: 3vh;
	
}






/* Color picker */

#color {
    display: none;
    height: 8vh;
    background-color: #fff;
    color: #fff;
    position: relative;
    transition: background-color 300ms ease;
    
    margin-top: 5vh;
}
.connected #color {
    display: block;
}
#color svg {
    -webkit-filter: invert(100%) grayscale(100%) contrast(150%);
    filter: invert(100%) grayscale(100%) contrast(150%);
    
    color: inherit;
    stroke: currentColor;
    fill: currentColor;
    opacity: 0.6;
    position: absolute;
    right: 1em;
    top: 1em;
    height: 1.4em;
    width: 1.4em;
    transition: transform 300ms ease;
}
            
#picker {
    display: none;
    border: 2em solid #333;
    background: #333;
	height: 46vh;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 300ms ease;
}
.connected #picker {
    display: block;
}
.iris-picker * {
    box-shadow: none !important;
}
.picker #picker {
    opacity: 1;
}              
        
        
        
/* Container */            
            
#container {
    display: none;

    overflow: hidden;
    margin-top: -46vh;
    position: relative;
    z-index: 1000;
    transition: transform 300ms ease;
}            
.connected #container {
    display: block;
}
.picker #container {
    transform: translateY(46vh);
}

            
            
/* Pencil and pipet mode */            
            
#mode {
    display: flex;
    justify-content: space-around;
    padding: 2em 15vh 2em;
}
#mode button {
    background: #333;
    border: none;
    border-radius: 2em;
    height: 4em;
    width: 4em;
    border: .2em solid #333;
    transition: border-color 300ms ease;
}
.pencil button#pencil {
    border: .2em solid #888;
}
.pipet button#pipet {
    border: .2em solid #888;
}
#mode button svg {
    width: 2em;
    height: 2em;
}
#mode button svg path {
    stroke: #888;
    fill: #888;
}       
            
            
            
            
/* Matrix editor */

#editor td {
    border: 0.2em solid #444;
    margin: 0;
    padding: 0;
}

#editor {
    border-collapse: collapse;
    margin-left: -0.2em;
	width: calc(50vh + .4em);
	height: calc(50vh + .4em);
	
	cursor: crosshair;
}
            
 


/* Controls */

#controls {
	margin: 4vh 0;
}
#controls button {
    font-size: 1em;
    width: 9em;
    height: 3em;
    margin: 0 0.5em;
    padding-top: 0.1em;    
}
#controls button svg {
    margin-top: -0.3em;
}




/* Github link */

#about {
	display: block;
	padding: 6vh 0 2vh;
}
#about a {
	font-size: 0.6em;
	text-decoration: none;
	color: #999;
}
#about svg {
	display: inline-block;
	height: 1.3em;
	vertical-align: bottom
}
#about svg path {
	fill: currentColor;
	fill-rule: evenodd;
}
#about:hover svg path {
	color: #cc174d;
}

                           